# Virtual Environment
venv/
.venv/
env/
.env/
pythonenv*/
agent_venv/
agent_hippocrates/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
*.env

# Build and distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Database files
medical_app.db
